<%= form_with(model: client_setting, url: client_settings_path, local: true) do |form| %>
  <% if client_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_setting.errors.count, "error") %> prohibited this client_setting from being saved:</h2>

      <ul>
        <% client_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :distributor_id %>
    <%= form.collection_select :distributor_id, Distributor.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
